africastalking==2.0.2
bcrypt==5.0.0
black==26.3.1
certifi==2026.2.25
charset-normalizer==3.4.6
click==8.3.1
docutils==0.22.4
filetype==1.2.0
idna==3.11
Kivy==2.3.1
Kivy-Garden==0.1.5
mypy_extensions==1.1.0
numpy==2.4.3
opencv-python==4.13.0.92
packaging==26.0
pathspec==1.0.4
pillow==12.1.1
platformdirs==4.9.4
Pygments==2.19.2
pytesseract==0.3.13
pytokens==0.4.1
PyYAML==6.0.3
requests==2.33.0
responses==0.26.0
schema==0.7.8
urllib3==2.6.3
